<div class="container ml-5">
    <div>
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel>
                <ng-template ngbPanelTitle>
                    <button class="btn btn-outline-primary"><i class="fa fa-plus"></i><span> Add Information</span></button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <form class="form" [formGroup]="addSupplierForm" (ngSubmit)="submitInfo()" style="text-align:center">
                        <div class="form-group row ml-1">
                            <label for="name" class="col-form-label col-xs-4 col-md-2 form-label">Name</label>
                            <div class="col-10">
                                <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name" required>
                            </div>
                        </div>
                        <div class="form-group row ml-1">
                            <label for="address" class="col-form-label col-xs-4 col-md-2 form-label">Location</label>
                            <div class="col-10">
                                <input class="form-control" type="text" name="address" formControlName="address" placeholder="Location" required>
                            </div>
                        </div>
                        <div class="form-group row ml-1">
                            <label for="email" class="col-form-label col-xs-4 col-md-2 form-label">Email</label>
                            <div class="col-10">
                                <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                <div [hidden]="email.valid || email.untouched">
                                    <div *ngIf="email.errors && email.errors.pattern" class="text-danger float-left mt-2">
                                        Email is invalid
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row ml-1">
                            <label for="phone" class="col-form-label col-xs-4 col-md-2 form-label">Phone</label>
                            <div class="col-10">
                                <input class="form-control" type="text" name="phone" formControlName="phone" placeholder="Phone" required>
                            </div>
                        </div>
                        <button class="btn btn-primary mt-4" type="submit" [disabled]="!addSupplierForm.valid"><i class="fa fa-file-o"></i> Generate Pdf</button>
                    </form>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
    <div class="row" *ngIf="filePath" style="text-align:center;">
        <a class="mx-auto mt-4" [href]="filePath" [download]="fileName"> <i class="fa fa-download fa-2x"></i> Download Pdf </a>
        <div class="col-12 mt-4">
            <embed [src]="filePath" width="90%" height="750px">
        </div>
    </div>
    <app-toast [message]="toast.message"></app-toast>
</div>